

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-family: Roboto;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    background-color: coral;
}

nav {
    padding: 0 1rem;
}

main {
    padding: 0 1rem;
}

h1 {
    color: white;
}

#toc ol {
    list-style-type: none;
}