

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-family: Roboto;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: center;
    background-color: coral;
}

nav {
    padding: 0 1rem;
}

main {
    padding: 0 1rem;
}

h1 {
    color: white;
}

#toc ol {
    list-style-type: none;
}

pre[class*="language-"] {
    padding: 0.5rem;
    font-size: 0.75rem;
}
pre[class*="language-"],
pre code[class*="language-"] {
    line-height: 1.33;
}

[data-type="field-types"] li {
    font-family: 'Roboto Mono', monospace;
    font-size: smaller;
    font-weight: bold;
}